body {
    background-color: rgb(205, 213, 224);
    align-items: center;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(42, 43, 45);
    margin-top: 0;
    color: whitesmoke;
}

.container {
    background-color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(42, 43, 45);
    border-radius: 20px;
    border-color: black;
    border-width: 10px;
    min-width: 150px;
    max-width: 400px;
    min-height: 250px;
    text-align: center;
    flex: content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
}

img {
    width: 80%;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about{
    align-items: center;
    margin-top: 50px;
}

#btn {
    cursor: pointer;
    max-width: 100px;
    background-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
    color: azure;
    margin: auto;
}

.abtxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn:hover {
    background-color: rgba(240, 255, 255, 0.684);
    color: black;
}

#btn:active {
    background-color: rgba(159, 156, 156, 0);
}

.line {
    min-height: 0.1px;
    background-color: rgb(159, 156, 156);
}